/* banner 1st div - large shoe */
.dropdown_c {
  position: relative;
  margin: 20px;
}

.selected span {
  display: flex;
  background: rgba(0, 0, 0, 0.2);
  width: 200px;
  border-radius: 5px;
  color: #131313;
}

.selected span {
  cursor: pointer;
  display: flex;
  padding: 10px 15px;
  margin: 0;
}

.drop-content {
  position: relative;
}

.drop-content ul {
  position: absolute;
  left: 0px;
  top: -3px;
  display: none;
  list-style: none;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-radius: 0 0 5px 5px;
  padding-top: 3px;
}

.drop-content ul li span {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  color: #131313;
}

.drop-content ul li span:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  border-left: 5px solid rgba(0, 0, 0, 0.8);
}

.dropdown_c.dropdown_hover:before {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-family: cursive;
  font-size: 22px;
}
.banner-main {
  display: flex;
}

.banner-text {
  margin: auto;
}
.banner-img {
  width: 50%;
}
.banner-btn {
  border: none;
  height: 38px;
  width: 130px;
  text-align: center;
  background-color: blueviolet;
  color: white;
  font-size: 15px;
  margin-top: 31px;
  padding-top: 13px;
}

.main-heading {
  font-size: 48px;
  margin-bottom: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 990px) {
  .main-heading {
    font-size: 42px;
  }
}
@media (max-width: 900px) {
  .main-heading {
    font-size: 38px;
  }
  .banner-text {
    left: 56%;
  }
}

.image-div {
  background-image: url(https://preview.colorlib.com/theme/shoppers/images/hero_1.jpg);
}
.main-con {
  position: relative;
}
.inner-con {
  position: absolute;
  top: 18%;
  left: 60%;
  font-size: 40px;
  font-weight: bold;
}
.innertxt {
  font-size: 20px;
  color: rgb(75, 65, 65);
}

/* second 3 card */

.site-block{
    display: flex;
    justify-content: space-around;
    background-color: white ;
    border-bottom: 1px solid rgba(211, 199, 199, 0.637);
    padding-bottom: 40px;
}
.site-text1{
    display: flex;
    gap: 3px;
}
.site-text2 {
    display: flex;
    gap: 5px;
}
.site-text3 {
    display: flex;
    gap: 5px;
}
.fa fa-refresh{
    position: relative;
    gap: 30px;
}
.fa fa-truck{
    position: relative;
        gap: 30px;
    }
.fa fa-question{
    position: relative;
        gap: 30px;
}
