/* header */
.headerPart2 {
  border: 2px solid black;
  height: 38px;
  width: 108px;
}
.headerPart3 {
  display: flex;
  gap: 10px;
}
.headerMainBlock {
  display: flex;
  justify-content: space-evenly;
}
.headerSecondBlock {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}
/* banner 1st div - large shoe */
.dropdown_c {
  position: relative;
  margin: 20px;
  display: flex;
}

.ul {
  display: flex;
}
.ul li {
  display: flex;
}
.selected span {
  cursor: pointer;
  display: flex;
  padding: 10px 15px;
  margin: 0;
}

.drop-content {
  position: relative;
}

.drop-content ul {
  position: absolute;
  left: 0px;
  top: -3px;
  display: none;
  list-style: none;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-radius: 0 0 5px 5px;
  padding-top: 3px;
}

.drop-content ul li span {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  color: #131313;
}

.drop-content ul li span:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  border-left: 5px solid rgba(0, 0, 0, 0.8);
}

.dropdown_c.dropdown_hover:before {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-family: cursive;
  font-size: 22px;
}
.banner-main {
  display: flex;
}

.banner-text {
  margin: auto;
}
.banner-img {
  width: 50%;
}
.banner-btn {
  border-radius: 8px;
  border: none;
  height: 28px;
  width: 138px;
  text-align: center;
  background-color: rgb(170, 136, 209);
  color: white;
  font-size: 15px;
  margin-top: 31px;
  padding-top: 13px;
}

.main-heading {
  font-size: 48px;
  margin-bottom: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 990px) {
  .main-heading {
    font-size: 42px;
  }
}
@media (max-width: 900px) {
  .main-heading {
    font-size: 38px;
  }
  .banner-text {
    left: 56%;
  }
}

.image-div {
  background-image: url(https://preview.colorlib.com/theme/shoppers/images/hero_1.jpg);
}
.main-con {
  position: relative;
  margin-top: 45px;
}
.inner-con {
  position: absolute;
  top: 18%;
  left: 60%;
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.innertxt {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 30px;
  color: rgba(151, 146, 146, 0.974);
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

/* second 3 card */

.site-block {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-bottom: 1px solid rgba(172, 164, 164, 0.637);
  padding-bottom: 36px;
  padding-top: 125px;
  flex-wrap: wrap;
}
.site-text1 {
  display: flex;
  gap: 22px;
}
.site-text2 {
  display: flex;
  gap: 22px;
}
.site-text3 {
  display: flex;
  gap: 22px;
}
.fa fa-refresh {
  position: relative;
  gap: 30px;
}
.fa fa-truck {
  position: relative;
  gap: 30px;
  padding-top: 5px;
}
.fa fa-question {
  position: relative;
  gap: 30px;
}
/* 3rd block */

.imgBlock-Main {
  display: flex;
  gap: 1px;
  justify-content: space-evenly;
  padding-top: 59px;
  flex-wrap: wrap;
}

.heading1 {
  position: relative;
  bottom: 99px;
  left: 19px;
  color: black;
  font-size: 15px;
}
.heading2 {
  position: relative;
  bottom: 135px;
  left: 19px;
  font-weight: 500;
  font-size: 39px;
  color: white;
}
.img1 {
  transition: 0.3s;
}
.img:hover {
  transform: scale(1.5);
}
/* 4th block */
.card1 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
  background-color: white;
}
.card2 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
  background-color: white;
}
.card3 {
  height: 350px;
  width: 300px;
  border: none;
  background-color: white;
}
.mainProduct {
  display: flex;
  gap: 20px;
  padding-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.text {
  text-align: center;
  color: rgb(94, 23, 157);
}
.para {
  text-align: center;
}

.productMainBlock {
  background-color: #d3d3d352;
  height: 100%;
  width: 100%;
  padding-bottom: 90px;
}
.productHeading {
  text-align: center;
}
a :hover {
  color: blue;
}
/* 5th block */
.disImgTxt {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.discountTxt {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;

}
.banner-btn1 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  border-radius: 8px;
  border: none;
  height: 26px;
  width: 134px;
  text-align: center;
  background-color: rgb(170, 136, 209);
  color: white;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
}

.discountMain {
  justify-content: center;
}
.discountSecondBlock {
  display: flex;
}

.discountMainBlock {
  padding-top: 30px;
}
.card1 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
}
.card2 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
}
.card3 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
}
.mainProduct {
  display: flex;
  justify-content: space-around;
}
.text1 {
  align-items: center;
  justify-content: space-around;
}
/* footer */

.first-inner-nav {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: lightslategray;
  flex-wrap: wrap;
}
.inner-navi-main-con {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.heading-navi {
  font-weight: bold;
}
.main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 90px;
}
.contact-info-div {
  display: flex;
  align-items: center;
  gap: 12px;
  color: lightslategray;
}
.image-div {
  width: 400px;
}
.Subscribe-Btn {
  height: 23px;
  width: 56px;
  border: 1px solid grey;
  position: absolute;
  right: 52px;
  bottom: 0px;
  background-color: blueviolet;
  color: white;
}
.Subscribe-Div {
  position: relative;
}
.subEmailDiv {
  height: 19px;
}
.lastLine {
  text-align: center;
  color: lightslategray;
}
/* hover */
.headerSecondBlock a:hover {
  color: rgb(170, 136, 209);
}
