/* banner 1st div - large shoe */
.dropdown_c {
  position: relative;
  margin: 20px;
  display: flex;
}

.ul {
  display: flex;
}
.ul li {
  display: flex;
}
.selected span {
  cursor: pointer;
  display: flex;
  padding: 10px 15px;
  margin: 0;
}

.drop-content {
  position: relative;
}

.drop-content ul {
  position: absolute;
  left: 0px;
  top: -3px;
  display: none;
  list-style: none;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-radius: 0 0 5px 5px;
  padding-top: 3px;
}

.drop-content ul li span {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  color: #131313;
}

.drop-content ul li span:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  border-left: 5px solid rgba(0, 0, 0, 0.8);
}

.dropdown_c.dropdown_hover:before {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-family: cursive;
  font-size: 22px;
}
.banner-main {
  display: flex;
}

.banner-text {
  margin: auto;
}
.banner-img {
  width: 50%;
}
.banner-btn {
  border-radius: 8px;
  border: none;
  height: 28px;
  width: 138px;
  text-align: center;
  background-color: rgb(170, 136, 209);
  color: white;
  font-size: 15px;
  margin-top: 31px;
  padding-top: 13px;
  align-items: center;
}

.main-heading {
  font-size: 48px;
  margin-bottom: 27px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 990px) {
  .main-heading {
    font-size: 42px;
  }
}
@media (max-width: 900px) {
  .main-heading {
    font-size: 38px;
  }
  .banner-text {
    left: 56%;
  }
}

.image-div {
  background-image: url(https://preview.colorlib.com/theme/shoppers/images/hero_1.jpg);
}
.main-con {
  position: relative;
}
.inner-con {
  position: absolute;
  top: 18%;
  left: 60%;
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.innertxt {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 30px;
  color: rgba(151, 146, 146, 0.974);
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

/* second 3 card */

.site-block {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-bottom: 1px solid rgba(172, 164, 164, 0.637);
  padding-bottom: 36px;
  padding-top: 125px;
}
.site-text1 {
  display: flex;
  gap: 22px;
}
.site-text2 {
  display: flex;
  gap: 22px;
}
.site-text3 {
  display: flex;
  gap: 22px;
}
.fa fa-refresh {
  position: relative;
  gap: 30px;
}
.fa fa-truck {
  position: relative;
  gap: 30px;
  padding-top: 5px;
}
.fa fa-question {
  position: relative;
  gap: 30px;
}
/* 3rd block */

.imgBlock-Main {
  display: flex;
  gap: 8px;
  justify-content: space-around;
  padding-top: 100px;
}

.heading1 {
  position: relative;
  bottom: 87px;
  left: 19px;
  color: black;
  font-size: 15px;
}
.heading2 {
  position: relative;
  bottom: 114px;
  left: 19px;
  font-weight: 500;
  font-size: 40px;
  color: white;
}
.img1 {
  transition: 0.3s;
}
.img:hover {
  transform: scale(1.5);
}
.DisImgtxt {
  display: flex;
  justify-content: space-evenly;
}
/* 4th block */
.card1 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
}
.card2 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
}
.card3 {
  height: 350px;
  width: 300px;
  border: 2px solid grey;
}
.mainProduct {
  display: flex;
  justify-content: space-around;
}
.text1 {
  align-items: center;
  justify-content: space-around;
}
/* footer */
.inner-navigators {
  display: flex;
  flex-direction: column;
}
.main-navigators {
  display: flex;
  justify-content: space-between;
}
.main-footer {
  width: 80%;
  margin: auto;
}

/* .footerMain {
  display: flex;
}
.navFooter {
  display: flex;
}
.address {
  display: flex;
}
.searchbox-wrap{
  display     : flex; 
  width       : 500px;  
  margin-top  : 8%;
  margin-left : auto;
  margin-right: auto;

  
  input{
     flex                             : 1;
     padding                          : 30px 20px;
     font-size                        : 1.1em;
     
     -webkit-border-top-left-radius   : 25px;
     -webkit-border-bottom-left-radius: 25px;
     -moz-border-radius-topleft       : 25px;
     -moz-border-radius-bottomleft    : 25px;
     border-top-left-radius           : 25px;
     border-bottom-left-radius        : 25px;
     box-shadow                       : none;
     border                           : none;
     box-shadow                       : 2px 4px 6px rgba(0, 0, 0, 0.19);

  }
  
  button{
    padding-right                     : 10px;
    
    background-color                  : #fff;
    -webkit-border-top-right-radius   : 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright       : 25px;
    -moz-border-radius-bottomright    : 25px;
    border-top-right-radius           : 25px;
    border-bottom-right-radius        : 25px;
    box-shadow                        : 5px 4px 6px rgba(0, 0, 0, 0.19);
    border                            : none;
    cursor                            : pointer; 
    cursor                            : hand;
    
    span{
      margin-left     : 50px;
      padding         : 24px 45px;
      
      font-size       : 0.9em;
      text-transform  : uppercase;
      font-weight     : 300 ;
      color           : #fff;
      background-color: #F54E59;
      
      border-radius   : 20px;
      box-shadow      : 2px 4px 6px rgba(0, 0, 0, 0.19);
      
      &:hover{
        background-color: #d6121f;
        box-shadow      : 2px 2px 4px rgba(0, 0, 0, 0.19);
      }
      
    }
  }
} */
